<div>
    <h2 id="page-heading">
        <span>Grades</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-grades" [routerLink]="['/grades/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Grades
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="grades?.length === 0">
        <span>No grades found</span>
    </div>
    <div class="table-responsive" *ngIf="grades?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>A Number</span></th>
            <th><span>B Number</span></th>
            <th><span>C Number</span></th>
            <th><span>D Number</span></th>
            <th><span>F Number</span></th>
            <th><span>W Number</span></th>
            <th><span>Student Number</span></th>
            <th><span>Section</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let grades of grades ;trackBy: trackId">
                <td><a [routerLink]="['/grades', grades.id, 'view' ]">{{grades.id}}</a></td>
                <td>{{grades.aNumber}}</td>
                <td>{{grades.bNumber}}</td>
                <td>{{grades.cNumber}}</td>
                <td>{{grades.dNumber}}</td>
                <td>{{grades.fNumber}}</td>
                <td>{{grades.wNumber}}</td>
                <td>{{grades.studentNumber}}</td>
                <td>
                    <div *ngIf="grades.section">
                        <a [routerLink]="['/section', grades.section?.id, 'view' ]" >{{grades.section?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/grades', grades.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/grades', grades.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/grades', { outlets: { popup: grades.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
