<div class="row">
    <div class="col-md-3">
        <span class="hammer img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome to Rumaso2.0!</h1>
        <p class="lead">THE place to research your Courses and Professors</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Register a new account</a>
            </div>
        </div>

        <p>
            All data presented on this site is available through public sources provided by: 
        </p>

        <ul>
            <li><a href="https://www.uprm.edu/" target="_blank" rel="noopener noreferrer">University of Puerto Rico at Mayaguez</a></li>
        </ul>

        <p>
            <span>If you like Rumaso, don't forget to spread the word!</span>!
        </p>
    </div>
</div>
